* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(-45deg, #9abae1, #0f044c);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    display: flex;
    align-items: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.containerIn {
    display: grid;
    grid-template-columns: auto auto;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    text-shadow: 1px 1px 2px rgb(116, 80, 80), 0 0 25px rgb(92, 92, 202), 0 0 5px darkblue;


}

.card {
    background: #3f3d56;
    border-radius: 15px;
    width: 670px;
    margin: 30px;
    box-shadow: 1px 1px 2px rgb(116, 80, 80), 0 0 25px rgb(62, 62, 164), 0 0 5px darkblue;
}

.addImg img {
    width: 600px;
}

.quiz {
    padding: 40px;
}

.count {
    float: right;
    border: 1px solid white;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 15px;
    padding: 5px;
    background-color: #9abae1;
}

h3 {
    padding: 5px;
    margin: 50px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 35px;
    color: aliceblue;
}

input[name="answer"] {
    margin: 15px;
}

label {
    font-size: 20px;
    color: aliceblue;
}

button {
    float: right;
    margin: 17px;
    width: 150px;
    background-color: #9abae1;
    border-radius: 15px;
    border: none;
    padding: 7px;
    color: beige;
    font-size: 15px;
}

button:hover {
    cursor: pointer;
}

.arrow {
    width: 30px;
}

#finish {
    display: none;
    font-size: 15px;
    margin: 10px;
    width: 70px;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9abae1;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    margin: 10px;
}

.card .timer span {
    color: white;
}

@media screen and (max-width: 450px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 10px);
    }

    .card {
        width: 240px;
        margin-top: 50px;
        margin-left: 30px;
    }

    .addImg img {
        width: 300px;
    }

    h3 {
        padding: 5px;
        margin: 10px;
        font-size: 15px;
    }

    input {
        margin: 5px;
    }

    label {
        font-size: 10px;
    }

    .count {
        font-size: 10px;
        padding: 5px;
    }

}